* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container h1 {
  padding: 20px;
  background-color: #0b2545;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 32px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

body {
  background-color: #486988;
}

.container .homepage {
  margin-top: 40px;
}

.container .homepage .box_skill {
  width: 50%;
  margin: 20px auto;
  background-color: white;
  padding: 30px;
  border-radius: 4px;
}

.container .homepage .skill_2 {
  background-color: rgb(19, 40, 110);
  color: white;
}

.container .homepage .skill_3 {
  background-color: #333;
  color: white;
}

.container .homepage .skill_4 {
  background-color: rgb(100, 31, 31);
  color: white;
}

.container .homepage .box_skill p {
  font-size: 12px;
  padding: 10px 0;
}

.container .homepage .box_skill button,
.footer button {
  padding: 12px 32px;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  background-color: rgb(0, 163, 87);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.container .homepage .box_skill button:hover,
.footer button:hover {
  background-color: rgb(7, 124, 118);
}

.footer {
  margin-top: 50px;
  background-color: #0b2545;
  padding: 20px;
  text-align: center;
}
